<%= render 'end_header/login_header' %>

<div class="y_purchases_content">
  <%= form_with url: end_purchases_path, method: :post, local: true do |f| %>

    <div class="y_purchases_main_content">
      <% @carts.each do |cart| %>
        <div class="y_purchases_detail">
          <%= image_tag attachment_url(cart['item'], :item_image, :fill, 100, 100, format: "jpg"),class: 'attachment user profile_image fallback' %><br>

          <div class="y_purchases_item_detail">
            <%= cart["name"] %><br>
            <%= cart['artist'] %><br>

              <div class="y_purchases_price">
                ￥ <%= (cart['price'] * @tax / 100).to_s(:delimited) %>(税込み)
              </div>

              <div class="y_purchases_quantity">
                数量<%= cart['purchase_quantity'] %>
              </div>

          </div>


          <div class="y_purchases_adress_detail">
            <p>
             お届け先
            </p>
            <div class="y_purchases_address_select">
              <%= f.select "address_name#{cart['id']}", address_name_arrays(@addresses) %>
            </div>
            <div class="y_purchases_address_add">
              <%= link_to "宛先追加", new_end_address_path, class: "btn btn-primary" %>
            </div>

            <div class="y_purchases_address_display <%= "address_name#{cart['id']}" %>">
              宛先：<span><%= @addresses[0]["name"] %></span><br>
              〒<span><%= @addresses[0]['postal_code'] %></span><br>
              <span><%= @addresses[0]['address'] %></span><br>

              <div class="y_purchases_address_tel">
                電話番号　<span><%= @addresses[0]['telephone_number'] %></span>
              </div>

              <div class="y_purchases_address_edit">
                <%= link_to "宛先編集", edit_end_user_path(current_end_user["id"]), class: "btn btn-primary" %>
              </div>

            </div>

          </div>

        </div>
      <% end %>
    </div>



    <div class="y_purchases_sub_content">
      <p>お支払い方法</p>
      <%= f.select :method_of_payment, [ ['銀行振込', '銀行振込'], ['クレジットカード', 'クレジットカード'], ['代金引換', '代金引換'] ], :selected=>@user['usually_payment'] %><br>

      <p>注文内容</p>
      <div class="y_purchases_sub_price">
        <div>
          商品小計
        </div>

        <div>
          ￥<span class="y_all_price"><%= all_price(@carts, @tax).to_s(:delimited) %></span>円
        </div>

        <div>
          発送料
        </div>

        <div>
          ￥<span class="y_postage">500</span>円
        </div>
      </div>

      <div class="y_purchases_sub_total_price">
        <div>
          ご請求額
        </div>

        <div>
          ￥<span class="y_total_price"><%= (all_price(@carts, @tax) + 500).to_s(:delimited) %></span>円
        </div>
      </div>


      <div class="y_purchases_submit">
        <%= f.submit '注文を確定する', class: "btn btn-warning"%>
      </div>

    </div>


  <% end %>
</div>
