<div class="container m_end-header">
  <div class="row" style="margin-top: 15px;">
      <div class="col-md-2">
		<%= link_to "MUSIC SHOP", end_items_path, class: 'm_shop_name' %>
      </div>
      <div class="col-md-1" style="padding: 0; margin-top: 5px;">
      	<p class="m_login">ログイン中</p>
      </div>
      <div class="col-md-6">
		<%= form_with url: search_end_items_path, method: :get, local: :true do |f| %>
		  <%= f.text_field :search, class: "m_search-box", placeholder: "シングル/アルバム名" %>
		  <%= f.submit "検索", class: "btn btn-default" %>
		<% end %>
	  </div>
	  <div class="col-md-1" style="padding: 0; margin-top: 5px;">
		<%= link_to "カート商品", end_cart_items_path, class: "m_end-header-content" %>
	  </div>
	  <div class="col-md-1" style="padding: 0; margin-top: 5px;">
		<%= link_to "マイページ", end_user_path(current_end_user),class: "m_end-header-content" %>
	  </div>
	  <div class="col-md-1" style="padding: 0; margin-top: 5px;">
		<%= link_to "ログアウト", destroy_end_user_session_path, method: :get, class: "m_end-header-content" %>
	  </div>
  </div>
</div>