<div class="col-xs-3">
	<li>
		<%= link_to end_item_path(item.id) do %>
			<%= attachment_image_tag item, :item_image, :fill, 100, 100, format: "jpeg" %>
		<% end %>
	</li>
	<li><%= link_to item.item_name.truncate(20), end_item_path(item.id) %></li>
	<li><%= item.artist.artist_name.truncate(20) %></li>
	<li>¥<%= (BigDecimal(item.price) * BigDecimal(@tax_rate)).ceil.to_s(:delimited) %></li>
</div>