<div id="few_items">
	<div class="col-xs-12">
		<h3>残り在庫あとわずか!!</h3>
	</div>
	<div class="row">
		<div class="col-xs-1">
			<%= link_to_prev_page @new_items, fa_icon("angle-double-left"), param_name: :"few_page", remote: :true %>
		</div>
		<div class="col-xs-10">
			<div class="row">
				<ul>
					<% @few_items.each do |item| %>
						<div class="col-xs-3">
							<li><%= link_to end_item_path(item.id) do %>
									<%= attachment_image_tag item, :item_image, :fill, 100, 100, format: "jpeg" %>
								<% end %>
							</li>
							<li><%= link_to item.item_name, end_item_path(item.id) %></li>
							<li><%= item.artist.artist_name %></li>
							<li>¥<%= (BigDecimal(item.price) * BigDecimal(@tax_rate)).ceil.to_s(:delimited) %></li>
						</div>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="col-xs-1">
			<%= link_to_next_page @new_items, fa_icon("angle-double-right"), param_name: :"few_page", remote: :true %>
		</div>
	</div>
</div>