<div class="col-xs-3">
	<div class="row">
		<div class="col-xs-12">
			<h3>売れ筋ランキング</h3>
			<h4 class="ranking_line">全ジャンル</h4>
		</div>
	</div>
	<ul>
		<% @ranking.each.with_index(1) do |item, i| %>
			<div class="row">
				<div class="col-xs-2">
					<p class="n_ranking_numbers"><%= i %></p>
				</div>
				<div class="col-xs-10">
					<li>
						<%= link_to end_item_path(item.id) do %>
							<%= attachment_image_tag item, :item_image, :fill, 100, 100, format: "jpeg" %>
						<% end %>
					</li>
					<li><%= link_to item.item_name.truncate(20), end_item_path(item.id) %></li>
					<li><%= item.artist.artist_name.truncate(20) %></li>
				</div>
			</div>
			<p class="ranking_line"></p>
		<% end %>
	</ul>
</div>