<% if end_user_signed_in? %>
	<%= render "end_header/login_header" %>
<% else %>
	<%= render "end_header/not_login_header" %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<div class="row">
				<%= render "new_items" %>
				<%= render "cheap_items" %>
				<%= render "few_items" %>
				<%= render "all_items" %>
			</div>
		</div>
		<%= render "ranking" %>
	</div>
</div>
