<%= render 'admin_header/admin_header' %>

<div class="y_history_content">
  <div class="y_history_search_btn">
    <%= link_to '受付中', search_admin_purchase_histories_path('受付中'), method: :get,remote: true, class: 'btn btn-danger'%>
    <%= link_to '準備中', search_admin_purchase_histories_path('準備中'), method: :get,remote: true, class: 'btn btn-light y_btn_border'%>
    <%= link_to '発送済', search_admin_purchase_histories_path('発送済'), method: :get,remote: true, class: 'btn btn-light y_btn_border'%>
    <%= link_to '全表示', search_admin_purchase_histories_path('全表示'), method: :get,remote: true, class: 'btn btn-light y_btn_border '%>
  </div>


  <p>購入履歴件数　<span class="y_history_counter"><%= @purchase_histories.count %></span>件</p>
  <table class="table table-bordered table-hover y_item_table" style="font-size: 20px; width: 900px;">
    <tbody>
      <tr>
        <th style="width: 40px">ID</th>
        <th style="width: 100px">注文日</th>
        <th style="width: 80px">状態</th>
        <th style="width: 350px">シングル/アルバム名</th>
        <th style="width: 65px">枚数</th>
        <th style="width: 150px">宛名</th>
        <th style="width: 65px">詳細</th>
      </tr>
    </tbody>

    <tbody class="y_history_tbody">
      <%= render 'admin_purchase_histories/purechase_tbody' , histories: @purchase_histories %>
    </tbody>

  </table>
</div>