<%= render 'admin_header/admin_header' %>



<div class="y_admin_purchase_detail_content">
  <%= @purchase_history['created_at'].strftime('%Y/%m/%d')%>
  <%= @purchase_history['total_price'] %>
  <%#= @purchase_history.enduser%>

  <div class="y_admin_purchase_detail_main_content">
    <%= attachment_image_tag @purchase_detail, :item_image, :fill, 100, 100, format: "jpeg" %>
    <%= @purchase_detail['shipping_status'] %>
    <%= @purchase_detail['item_name_history'] %>
    <%= @purchase_detail['artist_name_history'] %>
    <%= @purchase_detail['sale_number'] %>
    <%= @purchase_detail['price_history'] %>
    <%= @purchase_detail['name_history'] %>
    <%= @purchase_detail['postal_code_history'] %>
    <%= @purchase_detail['address_history'] %>
    <%= @purchase_detail['telephone_number_history'] %>
  </div>

  <div class="y_admin_purchase_detail_sub_content">

      <% @sub_purchase_details.each do |history| %>
        <div class="y_admin_purchase_detail_sub">
          <%= attachment_image_tag history, :item_image, :fill, 100, 100, format: "jpeg" %>
          <%= history['shipping_status'] %>
          <%= history['item_name_history'] %>
          <%= history['artist_name_history'] %>
          <%= history['sale_number'] %>
          <%= history['price_history'] %>
          <%= history['name_history'] %>
          <%= history['postal_code_history'] %>
          <%= history['address_history'] %>
          <%= history['telephone_number_history'] %>
        </div>
      <% end %>



  </div>

</div>


