<%= render 'end_header/login_header' %>

<div class="container n_end_users_show_container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="n_end_users_show_title">マイページ</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-9">
			<ul class="nav nav-pills">
				<li class="active col-xs-5">
					<a href="#myfavorites" data-toggle="tab">いいね一覧</a>
				</li>
				<li class="col-xs-5">
					<a href="#myaddresses" data-toggle="tab">登録住所一覧</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-9">
			<div class="tab-content">
				<div class="tab-pane active" id="myfavorites">
					<div class="n_end_users_show_favorite_title">いいね一覧</div>
					<ul>
						<% @myfavorites.each do |favorite| %>
							<div class="row n_end_users_show_myfavorites">
								<div class="col-xs-5">
									<li><%= attachment_image_tag favorite.item, :item_image, :fill, 200, 200, format: "jpeg" %></li>
								</div>
								<div class="col-xs-7">
									<li class="n_end_users_show_item_name"><%= link_to favorite.item.item_name, end_item_path(favorite.item.id) %></li>
									<li class="n_end_users_show_artist_name"><%= favorite.item.artist.artist_name %></li>
								</div>
							</div>
						<% end %>
					</ul>
					<%= paginate @myfavorites %>
				</div>
				<div class="tab-pane" id="myaddresses">
					<div class="n_end_users_show_address_title">追加登録住所一覧</div>
					<ul class="n_end_users_show_addresses">
						<% @myaddresses.each do |address| %>
							<li>氏名:<%= address.name %></li>
							<li>郵便番号:<%= address.postal_code %></li>
							<li>住所:<%= address.address %></li>
							<li>電話番号:<%= address.telephone_number %></li>
							<li class="n_end_users_show_address_delete"><%= link_to "削除", end_address_path(address.id), method: :delete, class: "btn btn-danger" %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="row">
				<%= link_to "ユーザー編集", edit_end_user_path(current_end_user.id), style: "color:white;", class: "col-xs-10 btn btn-danger n_end_users_show_menu_botton fa fa-user fa-2x n_end_users_show_menu" %>
				<%= link_to "住所追加", new_end_address_path, style: "color:white;", class: "col-xs-10 btn btn-success n_end_users_show_menu_botton fa fa-home fa-2x" %>
				<%= link_to "購入履歴", end_purchase_histories_path, style: "color:white;", class: "col-xs-10 btn btn-info n_end_users_show_menu_botton fa fa-shopping-cart fa-2x" %>
				<%= link_to "退会", unsubscribe_end_user_path, style: "color:white;", class: "col-xs-10 btn btn-warning n_end_users_show_menu_botton fa fa-times-circle fa-2x" %>
			</div>
		</div>
	</div>
</div>

